/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: #707070;
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  background-color: #FBFEFD;
  color: #707070;
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitle{
  display: block;
  color: #069C54;
  font-weight: 500;
  margin-bottom: .5rem;
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.logo{
  width: 100px;
  height: 70px;
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FBFEFD;
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #FBFEFD;
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
  }

  .logo{
    height: 70px;
  }
  .nav{
    height: 5rem;
  }
}

.nav__item{
  margin-bottom: 1rem;
}

.nav__link, .nav__logo, .nav__toggle{
  color: #707070;
  font-weight:  500;
}

.nav__logo:hover{
  color: #069C54;
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: #069C54;
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: 5rem;
}

/* Active menu */
.active-link{
  color: #069C54;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6,156,84,.5);
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color:#048654;
} 

.scrolltop__icon{
  font-size: 1.8rem;
  color: #FBFEFD;
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  height: calc(100vh - 3rem);
  align-content: center;
}

.home__title{
  font-size: 2.25rem;
  color: #069C54;
  margin-bottom: .5rem;
}

.home__subtitle{
  font-size:  1.5rem;
  color:#393939;
  margin-bottom: 2rem;
}

.home__img{
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: #d0273e;
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: #048654;
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: 1.5rem;
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: #d0273e;
  margin-bottom: 1rem;
}

.services__title{
  font-size: 1rem;
  color: #393939;
  margin-bottom:.5rem;
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: 1rem;
}

.menu__name, .menu__preci{
  font-weight: 600;
  color: #393939;
}

.menu__name{
  font-size: .938rem;
}

.menu__detail, .menu__preci{
  font-size: .813rem;
}

.menu__detail{
  margin-bottom: .5rem;
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}
/*========== MENU ==========*/

.cart-box{
  background-color: #FFF;
  color: #27302C;
  right: 88px;
  top: 80px;
  width: 500px;
  height: 0;
  position: fixed;
  transition: 0.5s;
  overflow-y: scroll;
  z-index: 999;

}
.active {
  height: 600px;
  background-color: #FFF;
  color: #27302C;
  right: 88px;
  top: 80px;
  width: 500px;
  overflow-y: scroll;
  position: fixed;
  transition: 0.5s;
  z-index: 999;
}

@media screen and (max-width: 700px){
  .active {
    height: 600px;
    background-color: #FFF;
    color: #27302C;
    right: 0;
    top: 80px;
    width: 100%;
    overflow-y: scroll;
    position: fixed;
    transition: 0.5s;
    z-index: 999;
  }
  }


.cart-box h1{
  color: #E8BC0E;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.cart-box .checkOut{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.cart-box .checkOut div{
  background-color: #E8BC0E;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.cart-box .checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #000000;
}
.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #000000;
  row-gap: 10px;
}
.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img{
  width: 90%;
}
.listCard li button{
  background-color: #fff5;
  border: none;
}
.listCard .count{
  margin: 0 10px;
}


/*========== APP ==========*/
.app__data{
  text-align: center;
}

.app__description{
  margin-bottom: 2.5rem;
}

.app__stores{
  margin-bottom: 2rem;
}

.app__store{
  width: 120px;
  margin: 0 .5rem;
}

.app__img{
  width: 230px;
  justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container{
  text-align: center;
}

.contact__description{
  margin-bottom: 1.5rem;
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: 1rem;
  color: #069C54;
  font-weight: 600
}

.footer__description{
  display: block;
  font-size: .813rem;
  margin: .25rem 0 1.5rem;
}

.footer__social{
  font-size: 1.5rem;
  color: #393939;
  margin-right: 1rem;
}

.footer__title{
  font-size: 1.25rem;
  color: #393939;
  margin-bottom: 1rem;
}

.footer__link{
  display: inline-block;
  color: #707070;
  margin-bottom: .5rem;
}

.footer__link:hover{
  color: #069C54;
}

.footer__copy{
  text-align: center;
  font-size: .813rem;
  color: #A6A6A6;
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(3rem + 1.5rem);
  }
  .nav__list{
    display: flex;
    align-items: center;
  }
  .nav__item{
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: 1rem;
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: 3rem;
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 .5rem 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}

.signup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 3rem);
  align-items: center;
}
.container{
 margin: auto;
 height: 600px;
}

form{
  padding: 0 30px 0 30px
}


.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 0;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: #069C54;
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:  #069C54;
}
.form button:hover {
  background: #048654;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.progress{
  height: 5px;
  background-color: #048654;
  width: 0%;
}

.menu-buttons{
  text-align: center;
  
}
.button-menu{
  padding: 0.55rem;
  border: 0;
  margin: 20px;
}

.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container-contact{
  height: auto;
  width: 75%;
}

@media screen and (max-width: 768px) {
  .container-contact{
    height: auto;
    width: 100%;
  }
}


.topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #048654;
}
 .input-box2{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.input-box2 input,
.input-box2 textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.message-box{
  min-height: 110px;
}
.input-box2 textarea{
  padding-top: 6px;
}

.cart-page{
  margin: 80px auto;
  cursor: pointer;
}
table{
  width: 70%;
  border-collapse: collapse;
  margin: auto;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: #048654;
  font-weight: normal;
   

}

td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #069C54;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px ;
}

.total-price{
  display: flex;
  justify-content: flex-end;
  
}

.total-price table{
  border-top:  3px solid black;
  width: 100%;
  max-width: 350px;
}

td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right ;
}